.card {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

label {
  width: max-content;
  color: tomato;
  font-size: 13px;
  margin: 3px 0;
  display: block;
}

.desc {
  font-size: 14px;
}

.star {
  color: gold;
}

.username {
  font-size: 14px;
}

.date {
  font-size: 12px;
}

form {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(88, 87, 87);
  gap: 20px
}

input {
  border: none;
  border-bottom: 1px solid gray;
}

input::placeholder,
textarea::placeholder {
  font-size: 12px;
  color: rgb(185, 184, 184);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

textarea {
  border: none;
  border-bottom: 1px solid gray;
}

.submitButton {
  border: none;
  padding: 5px;
  border-radius: 10px;
  color: white;
  background-color: tomato;
  cursor: pointer;
}

.buttons,
.logout {
  position: absolute;
  top: 10px;
  right: 10px;
}

.button {
  border: none;
  padding: 5px;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.logout {
  background-color: tomato;
}

.login {
  background-color: teal;
  margin-right: 10px;
}

.register {
  background-color: slateblue;
}

.secondaryButton {
  transition: 0.3s;
  align-items: center;
  border: 0;
  border-radius: 5%;
  box-sizing: border-box;
  color: tomato;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Codec cold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 30px;
  justify-content: center;
  letter-spacing: 0.4px;
  line-height: 1;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border: 1px solid tomato;
  margin-bottom: 10px;
}

.secondaryButton:active {
  outline: 0;
}

.secondaryButton:hover {
  outline: 0;
  background-image: linear-gradient(135deg, tomato 40%, #fc894d);
  color: #fff;
}

.secondaryButton span {
  transition: 0.3s;
}

.secondaryButton:hover span {
  transform: scale(0.9);
  opacity: 0.75;
  transition: 0.3s;
}

@media screen and (max-width: 991px) {
  .secondaryButton {
    font-size: 15px;
    height: 50px;
  }

  .secondaryButton span {
    line-height: 50px;
  }
}

.submitButton {
  align-items: center;
  background-image: linear-gradient(135deg, tomato 75%, #fc894d);
  border: 0;
  border-radius: 5%;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Codec cold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 30px;
  justify-content: center;
  letter-spacing: 0.4px;
  line-height: 1;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.submitButton:active {
  outline: 0;
}

.submitButton:hover {
  outline: 0;
  background-image: none;
  background-color: white;
  color: tomato;
  border: 1px solid tomato;
}

.submitButton span {
  transition: all 200ms;
}

.submitButton:hover span {
  transform: scale(0.9);
  opacity: 0.75;
}

@media screen and (max-width: 991px) {
  .submitButton {
    font-size: 15px;
    height: 50px;
  }

  .submitButton span {
    line-height: 50px;
  }
}

.file-input {
  width: 100%;
  margin-bottom: 10px;
}
.file-input::file-selector-button {
  border: 2px solid tomato;
  color: tomato;
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 16x;
  width: 100%;
  display: block;
}
.file-input::file-selector-button:hover {
  background-color: tomato;
  color: #fff;
}